body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.5px;
}
*:focus {
 outline: 2px dotted #ff7500;
 outline-offset: 3px;
}
.site-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
}
.logo-link{
  transition: opacity 0.8 ease;
}
.logo-link:hover {
  opacity: 0.8;
}
.logo-link:active {
  opacity: 0.6;
}
.site-header-actions {
  display: flex;
  align-items: center;
  list-style: none;
}
.sitenav-list {
  display: flex;
  list-style: none;
}
.sitenav-link {
  font-weight: 500px;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  transition: opacity 0.4s ease, opacity 0.4s ease;
}
.sitenav-link:hover {
  color: #ff7500;
}
.sitenav-link:active {
  opacity: 0.6;
}
.main-link {
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 1px;
  background-color: #ff7500;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  transition: opacity 0.4s ease;
}
.main-link:hover {
  opacity: 0.8;
}
.main-link:active {
  opacity: 0.6;
}
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #252420;
  color: #ffffff;
}
.hero-content {
  width: 390px;
}
.orange-line {
  width: 80px;
  height: 3px;
  background-color: #ff7500;
}
.hero-heading {
  font-size: 40px;
  line-height: 1.2;
  font-family: "Roboto Condensed", "Roboto" sans-serif;

}
.hero-img {
  width: 510px;
  height: 510px;
}
.features-heading {
  width: 440px;
  font-size: 72px;
  line-height: 1.2;
  letter-spacing: 0.5px;
  font-family: "Roboto Condensed", "Roboto" sans-serif;
}
.feature-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.features-text {
  width: 440px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.5px;
}
.feature-icon-wrapper {
  width: 100px;
  height: 100px;
  background-color: rgb(255, 117, 0, 0.2);
  border-radius: 50%;
}
.feature-title {
  font-size: 24px;
  line-height: 1.2;
  font-family: "Roboto Condensed", "Roboto" sans-serif;
}
.promo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #252420;
  color: #ffffff;
}
.promo-content {
  width: 440px;
}
.promo-heading {
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 0.5px;
  font-family: "Roboto Condensed", "Roboto" sans-serif;
}
.promo-highlight {
  color: #ff7500;
  font-weight: bold;
}
.promo-img {
  width: 440px;
  height: 440px;
  object-fit: cover;
}
.site-footer {
  background-color: #f8f8f8;
}
.site-footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.site-footer-socials {
  display: flex;
  align-items: center;
}
.site-footer-socials a {
  color: #252520;
}
.site-footer-socials a:hover {
  color: #ff7500;
}
.site-footer-socials a:active {
  opacity: 0.6;
}
.site-footer ul {
  list-style: none;
}
.site-footer-divider {
  height: 2px;
  background-color: rgb(37, 36, 32, 0.5);
}
.site-footer-bottom {
  display: flex;
}
.site-footer-link-list {
  width: 224px;
  line-height: 19px;
}
.site-footer-link-list a {
  color: #252520;
  text-decoration: none;
}
.site-footer-link-list a:hover {
  color: #ff7500;
}
.site-footer-link-list a:active {
  opacity: 0.6;
}
